<h1>Welcome to <%= @crm_app_name %></h1>
<p>Main Menu</p>
<ul>
  <li><a href="/contacts">View All Contacts</a></li>
  <li>Add New Contact</li>
  <li>Modify a Contact</li>
  <li>Delete a Contact</li>
  <li>Search by ....</li>
  <li>Exit</li>
<ul>
