
/* --- Main Styling --- */
body {
  margin: 0;
  color: #393B3D;
}

h1 {
  margin: 0;
}

h2, p, a, h1 {
  font-family: "Open Sans";
}

a {
  text-decoration: none;
  color: #393B3D;
}

a:hover {
  color: purple;
}

/* --- Header
.header {
  background-color: teal;
  background: teal;
  background: -webkit-linear-gradient(left top, teal, yellow);
  background: -o-linear-gradient(bottom right, teal, yellow);
  background: -moz-linear-gradient(bottom right, teal, yellow);
  background: linear-gradient(to bottom right, teal, yellow);
  margin: 0;
  height: 100px;
}
--- */

#app_name {
  font-family: "Arimo";
  text-align: center;
  color: black;
}

/* --- Navigation --- */

nav li {
  display: inline;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
}

/* --- Main Content --- */

.main-content {
  background-color: white;
  padding: 50px 20px 50px 20px;
}

.edit {
  float:right;
}

/* --- Footer

.footer {
  background-color: teal;
  background: yellow;
  background: -webkit-linear-gradient(left top, yellow, teal);
  background: -o-linear-gradient(bottom right, yellow, teal);
  background: -moz-linear-gradient(bottom right, yellow, teal);
  background: linear-gradient(to bottom right, yellow, teal);
  padding: 16px 0 16px 0;
  height: 100px;
}
--- */
